* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}
a {
    text-decoration: none;
    padding: 10px 20px;
}
a:hover {
    color: crimson;
}